<!doctypeHTML>

<div class="container">
  <h2>World Item List</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Country</th>
      <th>City</th>
      <th>Language</th>
      <th>Game</th>
      <th>Food</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of worldItem">
      <td>{{ item.id }}</td>
      <td>{{ item.country }}</td>
      <td>{{ item.city }}</td>
      <td>{{ item.language }}</td>
      <td>{{ item.game }}</td>
      <td>{{ item.food }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="error" class="error">{{ error }}</div>
